<!DOCTYPE html>
<html>
<head th:replace="layout :: head">
<meta charset="UTF-8">
<title th:text=${title}>Insert title here</title>
</head>
<body>
	<header th:replace="layout:: header"></header>

	<div class="container">
	<fieldset>
		<label>Cedula</label>
		<span  th:text="${medico.cedula}"> </span> <br/>
		<label>Nombre</label>
		<span type="text" th:text="${medico.nombre}"></span> <br/>
		<label>Telefono</label>
		<span type="text" th:text="${medico.telefono}"> </span> <br/>
		<label>Licencia</label>
		<span  th:text="${medico.licencia}"></span> <br/>
		
	</fieldset>
	<a th:href="@{/medico/delete/} + ${medico.idmedico}" th:text="'eliminar'" onclick="return confirm('¿Desea elimnar al medico?');">Eliminar</a>
	
	</div>
	<footer th:replace="layout :: footer">
	</footer>
	
</body>
</html>