<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/medico/form}" th:object="${medico}" method="post">
	<fieldset>
		<label>Cedula</label>
		<input type="text" th:field="*{cedula}" />
		<small th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"></small>
		<br/>
		
		<label>Nombre</label>
		<input type="text" th:field="*{nombre}" />
		<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
		<br/>

		<label>Telefono</label>
		<input type="text" th:field="*{telefono}" /> 
		<small th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
		<br/>
		
		<label>Licencia</label>
		<input type="text" th:field="*{licencia}" /> 
		<small th:if="${#fields.hasErrors('licencia')}" th:errors="*{licencia}"></small>
		<br/>
		
		<input type="hidden" th:field="*{idmedico}"/>	
		<input type="submit" value="Guardar"/>
	
	</fieldset>
</form>

</body>
</html>