<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<body>	
	<header th:replace="layout :: header"></header>
	<h1>Registro de atenciones médicas</h1>
	<div class="container">
		<div class="row">			
			<fieldset>
				<label>Inicio:</label>
				<input id="dtpInicio" type="date"/>
				<br/>
				<label>Fin:</label>
				<input id="dtpFin" type="date"/>
				<br/>
				<label>M&eacute;dico</label>
				<select class="form-control" id="cmbMedico">
					<option value="0">--Seleccione--</option>
					<option th:each="med:${medicos}" th:value="${med.idmedico}" th:text="${med.nombre}"></option>
				</select>
				<button type="button" class="btn btn-success" id="btnBuscar">
					<span>Buscar</span>
				</button>
			</fieldset>
		</div>
		<div  id="tblWeek">
		
		</div>		
	</div>
	<footer th:replace="layout :: footer"></footer>
	<script th:src="@{/js/setup-atencion.js}"></script>
</body>
</html>