<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<body>	
	<header th:replace="layout :: header"></header>
	<h1>Registro de atenciones médicas</h1>
	<div class="container">
		<div class="row">			
			<fieldset>
				<label>Inicio:</label>
				<input id="dtpInicio" type="date"/>
				<br/>
				<label>Fin:</label>
				<input id="dtpFin" type="date"/>
				<br/>
				<label>M&eacute;dico</label>
				<select class="form-control" id="cmbMedico">
					<option value="0">--Seleccione--</option>
					<option th:each="med:${medicos}" th:value="${med.idmedico}" th:text="${med.nombre}"></option>
				</select>
				<button type="button" class="btn btn-success" id="btnBuscar">
					<span>Buscar</span>
				</button>
			</fieldset>
		</div>
		<div class="row">
				<table  id="tblWeek">
					<thead>
						<tr>
							<th>Lunes</th>
							<th>Martes</th>
							<th>Mi&eacute;rcoles</th>
							<th>Jueves</th>
							<th>Viernes</th>
							<th>S&aacute;bado</th>
						</tr>
					</thead>
					<tbody id="tblBodyWeek">
						<tr>
							<th><span>07:00 - 07:30</span></th>
							<th id="a1"></th>
							<th id="b1"></th>
							<th id="c1"></th>
							<th id="d1"></th>
							<th id="e1"></th>
							<th id="f1"></th>
						</tr>
						<tr>
							<th><span>08:00 - 08:30</span></th>
							<th id="a2"></th>
							<th id="b2"></th>
							<th id="c2"></th>
							<th id="d2"></th>
							<th id="e2"></th>
							<th id="f2"></th>
						</tr>

						<tr>
							<th><span>09:00 - 09:30</span></th>
							<th id="a3"></th>
							<th id="b3"></th>
							<th id="c3"></th>
							<th id="d3"></th>
							<th id="e3"></th>
							<th id="f3"></th>
						</tr>
						<tr>
							<th><span>10:00 - 10:30</span></th>
							<th id="a4"></th>
							<th id="b4"></th>
							<th id="c4"></th>
							<th id="d4"></th>
							<th id="e4"></th>
							<th id="f4"></th>
						</tr>
					</tbody>
				</table>
			</div>
		
	</div>
	<footer th:replace="layout :: footer"></footer>
	<script th:src="@{/js/setup-atencion.js}"></script>
</body>
</html>