<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row">
<table>
	<thead>
		<tr>
			<th>Lunes</th>
			<th>Martes</th>
			<th>Mi&eacute;rcoles</th>
			<th>Jueves</th>
			<th>Viernes</th>
			<th>S&aacute;bado</th>
		</tr>
	</thead>
	<tbody id="tblBodyWeek">
		<tr>
			<th><span>07:00 - 07:30</span></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<th><span>08:00 - 08:30</span></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		
		<tr>
			<th><span>09:00 - 09:30</span></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<th><span>10:00 - 10:30</span></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tbody>
</table>
</div>
</html>